.new-bookings-background {
  color: black;
  // text-align: center;
  height: 100vh;
  background: #E2ECED;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  overflow: auto;
}

.new-bookings-left-items {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 80vh;
}

.new-bookings-right-items {
  padding-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.container-spacer{
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.new-bookings-left-pack {
  width: 45vw;
}

.new-bookings-right-policy-container {
  text-align: left;
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.new-bookings-right-policy-heading {
  border-bottom: .75px solid #42B6C5;
}

.new-bookings-left-policy-content {
  padding-top: 25px;
}

.new-bookings-right-form {

}

.new-bookings-form-labels {
  text-align: left;
  font-weight: bold;
}

.new-bookings-form-total {
  text-align: left;
  padding-bottom: 15px;
  border-top: 1px solid #42B6C5;
  margin: 20px 0 20px 0;
}

.new-bookings-form-buttons-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-bookings-form-buttons {
  background-image: linear-gradient(#42B6C5, #0C8B9C);
  border-radius: 50px;
  width: 7em;
  color: white;
}

.new-bookings-right-policy-content {
  padding-top: 10px;
  li {
    padding-top: 2px;
    font-size: 19px;
  }
}

.new-bookings-form-card {
  // margin-top: 25px;
  background-color: white;
  width: 40vw;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 5px;
  padding: 25px 25px 15px 25px;
}

.new-bookings-card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
}

.new-bookings-card-product img {
  height: 100%;
  width: 175px;
  object-fit: cover;
}

.new-bookings-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.new-bookings-card-product a > i {
  font-size: 15px;
}

.new-bookings-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
}

.new-bookings-card-product .new-bookings-card-product-infos {
  padding: 16px;
}

.new-bookings-card-delete {
  position: absolute;
    top: 5px;
    right: 8px;
}



    .new-bookings-button-color {
      color: #cc0000;
      opacity: .6;
      &:hover {
        color: #cc0000;
        opacity: 1;
      }
    }



#map {
  height: 50vh;
  width: 45vw;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-bottom: 50px;
}

.billing {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.billing h4 {
  color: black;
}

.padding {
  padding: 20px 0;
}

