.new-pack-container {
  display: flex;
  justify-content: space-around;
  background-color: #E2ECED;
  padding-top: 10px;
  height: 100vh;
}

.new-pack-left {
  display: flex;
  width: 40vw;
}

.new-pack-right {
  display: flex;
  width: 50vw;
  flex-direction: column;
}

.newpack-form-container {
  background: #E2ECED;
  height: 92vh;
  background-size: cover;
  margin: auto 0;
  overflow: auto;
}

.new-pack-bottom-right-items-cards {
  overflow: hidden;
  color: black;
  text-decoration: none;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
  width: 50vw;
  border-radius: 5px;
  height: 14vh;
  position: relative;
  &:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }

  a {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}
.imthelink:hover {
  text-decoration: none;
  opacity: 0.8;
}

.new-pack-bottom-right-items-cards img {
  height: 100%;
  width: 175px;
  object-fit: cover;
}

.new-pack-bottom-right-items-cards h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.new-pack-bottom-right-items-cards p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
}

.new-pack-bottom-right-items-cards .new-pack-bottom-right-items-cards-infos {
  padding: 16px;
}
