.newpackpage-container {
  display: flex;
  background: #E2ECED;
  height: 100vh;
  background-size: cover;
  margin: auto 0;
  overflow: auto;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}
.pack-items-container {
  color: black;
  display: flex;
  justify-content: space-around;
  background: #E2ECED;
}
.pack-item-row {
  width: 60vw;
}
.newpack-form-container {
  width: 40vw;
}

.pack-item-card {
  height: 430px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px 20px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 10px;
  background: white;
  // overflow: auto;
}

.small-font {
  font-size: 16px;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.newpack-form {
  display: flex;
  flex-direction: column;
  align-items:center;
}
