.new-item-container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background: #E2ECED;
  align-items: center;
  margin: auto 0;
  overflow: auto;
  background-size: cover;
}

.new-item-spacer {
  padding-top: 100px;

}
