.newpackpage-container {
  display: flex;
  background: #E2ECED;
  height: 100vh;
  background-size: cover;
  margin: auto 0;
  overflow: auto;
  justify-content: space-around;
}
.pack-items-container {
  color: black;
  display: flex;
  justify-content: space-around;
  background: #E2ECED;
}
.pack-item-row {
  width: 60vw;
}
.newpack-form-container {
  width: 40vw;
  margin-left: 35px;
}

.pack-item-card {
  height: 430px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px 20px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 10px;
  background: white;
  // overflow: auto;
}
