.signup-background {
  color: black;
  text-align: left;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #E2ECED;
  background-size: cover;
  padding: 0px 75px;
  overflow: auto;
}
.sign-up-form-container {
  box-shadow: 0.2px 0.2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 35vw;
  background-color: white;
  padding: 30px 50px;
  overflow: auto;
  margin: auto 0;
}
.sign-up-form-container a {
  color: black;
}
.sign-up-form-container h2 {
  margin-bottom: 40px;
  margin-top: 5px;
  font-weight: 600;
}
.signup-form-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.sign-up-btn input{
  padding: 10px 30px;
  font-weight: bold;
  background: linear-gradient(#42B6C5, #0C8B9C);
  border-radius: 50px;
  color: white;
}
.sign-up-btn a {
  padding: 10px 30px;
  font-weight: bold;
  background: linear-gradient(#42B6C5, #0C8B9C);
  border-radius: 50px;
  color: white;
}
