<% if current_traveler.cart.cart_items.count > 0 %>
  <span class="badge on-cart-icon" id="cart_icon"><%= current_traveler.cart.cart_items.count  %></span>
<% elsif current_traveler.cart.cart_items.count > 1 %>
  <span class="badge on-cart-icon" id="cart_icon"><%= current_traveler.cart.cart_items.count  %></span>
<% end %>
