<div class="banner-container">
  <div class="banner">
    <div class="banner-links-container">
      <!-- <span class="banner-link"><%#= link_to "Become an Owner", new_owner_registration_path %></span> -->
     <!--  <span class="banner-link"><%#= link_to "User Sign Up", new_user_registration_path %></span>
      <span class="banner-link"><%#= link_to "Owner Login", new_owner_session_path %></span>
      <span class="banner-link"><%#= link_to "User Login", new_user_session_path %></span> -->
    </div>
    <div class="banner-content">
      <h1>Travel without the baggage</h1>
        <%#= link_to "FIND PACKS", packs_path, class: "btn btn-lg" %>
    </div>
  </div>
</div>
