.card {
  // width: 400px;
  height: 180px;
  background-color: white;
  margin: 30px;
  // padding: 10px 10px;
  display: flex;
}

.card-photo {
  height: 180px;
  width: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.card-details {
  padding: 10px 10px;
}
